<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <!-- Other head elements -->
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<nav>
    <a>CRUD APP</a>
    <div id="navbarSupportedContent">
        <ul>
            <li>
               <button
                        hx-get="{% url 'new_expense_url' %}"
                        hx-target="#expense-form"
                        hx-swap="innerHTML">
                   
                    Add Expense
                </button>
            </li>
            <li>
                <a href="{% url 'show_url' %}">Show Expense</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>