{% extends 'expense_app/layout.html' %}
{% block title %}
   <title>Show Expenses</title>
{% endblock %}
{% block content %}
<center><h1>Show Expenses</h1></center>
<table class="table">
   <thead>
     <tr>
       <th scope="col">Expense ID</th>
       <th scope="col">Name</th>
       <th scope="col">Amount</th>
       <th scope="col">Date</th>
       <th scope="col">Explanation</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for expense in obj %}
     <tr>
       <td>{{expense.id}}</td>
       <td>{{expense.name}}</td>
       <td>${{expense.amount}}</td>
       <td>{{expense.date|date:"Y-m-d H:i"}}</td>
       <td>{{expense.explanation}}</td>
       <td>
           <a href="{% url 'update_url' expense.id %}" class="btn btn-warning">Update</a>
           <a href="{% url 'delete_url' expense.id %}" class="btn btn-danger">Delete</a>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}