{% extends 'base.html' %}

{% block title %}New Expense{% endblock %}

{% block body %}
    <div class="p-5 mb-4 bg-custom-indigo-element rounded-3">
        <h1 align="center"><b>New Expense</b></h1>
    </div>

    <div>
        <form method="POST" action="/add_transaction">
            <div class="row">
                <div class="col">
                    <label for="title">Title</label><br>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title" minlength="5"
                           required>
                </div>
                <div class="col">
                    <label for="amount">Amount($) </label><br>
                    <input type="number" class="form-control" id="amount" placeholder="$0.00" name="amount"
                           required><br>
                </div>
            </div>
            <div>
                <label for="date">Date of Transaction</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <label for="explanation">Details</label><br>
                <textarea class="form-control" rows="5" id="explanation" name="explanation"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>


        </form>
    </div>
{% endblock %}