{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="p-5 mb-4 bg-custom-indigo-element rounded-3">
        <h1><b>Welcome to Expense Tracker!</b></h1>
    </div>

    <div class="table-responsive-md">
        <table class="table table-success table-striped table-hover">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.id }}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.date }}</td>
                    <td><a href="http://127.0.0.1:5000/transaction_form" class="btn btn-success">Update</a></td>
                    <td><a href="http://127.0.0.1:5000/transaction_form" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</html>